<h1>SideKiq example</h1>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_tag pokemons_upload_path do %>
  <%= submit_tag "Import" %>
<% end %>

<%= form_tag pokemons_destroy_all_path do %>
  <%= submit_tag "Delete" %>
<% end %>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Weight</th>
    <th>Height</th>
  </tr>
  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.id %></td>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.height %></td>
        <td><%= pokemon.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>